<h3> View <%= @student.name %> </h3>

Name: <%= @student.name %><br>

<% @student.courses.each do |course| %>
Courses: <%= course.name %>
<% end %>


<h4> Addresses for <%= @student.name %> </h4>
 <% @student.addresses.each do |address| %>
description: <%= address.description %><br>
street: <%= address.street %><br>
city:  <%= address.city %><br>
state: <%= address.state %><br>
zipcode: <%= address.zip %><br><br>
<%= link_to "delete address", student_address_path(@student, address), method: :delete %>
<%end%>

<br><%= link_to "Add New Address for #{@student.name}", new_student_address_path(@student)%>

<h6><%= link_to "delete student", student_path(@student), method: :delete %></h6><br>

<br><%= link_to "Create a New Student", new_student_path %>

<br><%= link_to "Back to All Students", students_path %>
