<!DOCTYPE html>
<html>
  <head>
    <title>RailsChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <%= link_to "All Students", students_path %>
      <%= link_to "All Courses", courses_path %>
    </div>
    <%= yield %>
  </body>
</html>
